{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Tienda de Música</title>
</head>
<body>
    <!-- Encabezado con enlaces de navegación -->
    <section class="primera">
        <header>
            <a href="#" class="logo">Tienda Musica</a>
        
            <input type="checkbox" id="check">
            <label for="check" class="icons">
                <i class='bx bx-menu' id="menu-icon"></i>
                <i class='bx bx-x' id="close-icon"></i>
            </label>
        
            <nav class="navbar"> 
                <a href="#inicio" style="--i:0;">Inicio</a>
                <a href="#tienda" style="--i:1;">Tienda</a>
                <a href="#login" style="--i:2;">Iniciar Sesión</a>
            </nav>
        </header>
    </section>
    <!-- Formulario de inicio de sesión -->
    
    <!-- Lista de canciones disponibles para compra -->
    
    <section class="segundo">
        <div class="contenedor2">
            <!-- Aquí puedes agregar el contenido de tu lista de canciones -->
            {% for cancion in canciones %}
                <div class="cancion">
                    <img src="{{ cancion.imagen.url }}" alt="{{ cancion.nombre }}" class="imagen-cancion" data-src="{{ cancion.archivo_mp3.url }}">
                    <p class="nombre">{{ cancion.nombre }}</p>
                    <p class="artista">{{ cancion.artista }}</p>
                    <audio controls class="audio" data-src="{{ cancion.archivo_mp3.url }}">
                        <source src="{{ cancion.archivo_mp3.url }}" type="audio/mpeg">
                        Tu navegador no soporta la reproducción de audio.
                    </audio>
                    <p class="duracion">{{ cancion.duracion_formateada }}</p>
                </div>
                <br>
            {% endfor %}
        </div>
    
        <!-- Reproductor de música único -->
        <div class="music-player-container" id="musicPlayer">
            <div class="music-player-container">
                <div class="title-music-container">
                    <h4 class="nombre" id="songName"></h4>
                    <span class="artista" id="artistName"></span>
                    <div class="time-container">
                        <span class="time-left" id="CurrentSongTime">0:00</span>
                        <span class="time-right" id="SongLength">0:00</span>
                        {{lista_musica | json_script:'musica' }}  
                    </div>
                </div>

                
                
                <div class="controls-music-container">
                    <div class="progress-song-container">
                        <div class="progress-bar">
                            <span class="progress"></span>
                        </div>
                    </div>
                    <div class="time-container">
                        <span class="time-left" id="CurrentSongTime"></span>
                        <span class="time-left" id="SongLength"></span>
                    </div>
                </div>
                <audio controls class="audio" id="audioPlayer">
                </audio>
                <div class="main-song-controls">
                    <img src="{% static 'Backward.svg' %}" alt="Retroceder" class="icon" id="Back10">
                    <img src="{% static 'Play.svg' %}" alt="Reproducir/Pausar" class="icon" id="PlayPause" >
                    <img src="{% static 'Forward.svg' %}" alt="Avanzar" class="icon" id="Plus10">
                </div>
            </div>
        </div>
    </section>

    
    
    
    

   
    
        
    
    
    <!-- Pie de página con información de contacto -->
    <footer>
        <p>Contacto: info@tiendademusica.com</p>
        
    </footer>

    <script src="{% static 'style.js' %}"></script>
</body>
</html>
