/* Estilos para el encabezado */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    /*background: url('musica.jpg') no-repeat;*/
    background-size: cover;
    background-position: center;
   /* background-color: #0a0a0a; */ /* Negro con un matiz */
    color: #000000; /* Color del texto */

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}


header:hover::after {
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}



@media (max-width: 992px){
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
       display: none; 
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block; 
    }
 

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1) ;
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
        
    }

    

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
        
    }

}


/*primera seccion*/

 .segundo {
    margin-top: 50px;
    padding-top: 40px; 
    padding-left: 40px;
}
/*
.playlist {
    padding: 10px; 
    border-radius: 5px;
    max-width: 200px;
}

.playlist h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 10px; 
    color: #585858;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3 linear;
}

.playlist h4:hover {
    color: #36e2ec;
}

.playlist h4 span {
    position: relative;
    margin-right: 35px;
}


 */


 /* beats */

 .beat-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.beat-info img {
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-right: 20px;
}

.beat-info p {
    font-size: 14px;
    color: #666;
}



.beat-info img {
    max-width: 100px; /* Ajusta el tamaño máximo de la imagen según sea necesario */
    max-height: 100px; /* Ajusta el tamaño máximo de la imagen según sea necesario */
    margin-right: 20px;
}

.contenedor2 {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}


.cancion {
    display: flex;
    justify-content: space-between; /* Alinear los elementos a los extremos */
    margin-bottom: 20px; /* Ajustar el margen inferior según tu preferencia */
    
}


.imagen-cancion {
    width: 100px; /* Cambia este valor al tamaño deseado */
    height: 100px; /* Esto mantendrá la proporción de la imagen */
    /* O puedes establecer una altura fija en lugar de 'auto' si prefieres */
}


.nombre {
    overflow: hidden; /* Oculta el texto que excede el ancho */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto truncado */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    width: 200px; /* Define el ancho máximo del nombre de la canción */
    
}


.reproductor-adicional {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000; /* Color de fondo del reproductor adicional */
    padding: 10px;
    box-sizing: border-box;
    display: none; /* Ocultar el reproductor adicional inicialmente */
}




/* REPRODUCTOR */



.music-player-container{
    background: linear-gradient(30deg, rgba(0,0,0,0.65), rgba(0,0,0,0.85));
    backdrop-filter: blur(10px);
    height: fit-content;
    width: 35vw;
    border-radius: 10px;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.35);
}

.title-music-container{
    width: 80%;
    height: 80%;
    width: fit-content;
    color: white;
    margin-right: auto;
    margin-left: 10%;
}

.song-title{
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.song-author{
    margin-top: 0.1rem;
    font-size: 12px;
    color: rgb(167, 167, 167);
    letter-spacing: 0.1px;
}

.controls-music-container{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-song-container{
    margin-top: 0.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-bar{
    height: 3px;
    border-radius: 3px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    position: relative;
}

.progress{
    position: absolute;
    height: 100%;
    width: 0%;
    border-radius: 3px;
    background-color: white;
}

.time-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(167, 167, 167);
    font-size: 12px;
}

.time-left{
    margin-top: 0.3rem;
}

.main-song-controls{
    height: 30px;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon{
    height: 100%;
    width: auto;
    opacity: 0.6;
    cursor: pointer;
}

.icon:hover{
    opacity: 1;
}

audio{
    display: none;
}

